<html>
  <head>
    <title>Verify your Microblog Account</title>
  </head>
  <body>
    <div>
      <span style="font-weight: bold;">Thanks for creating your Microblog account!</span>
      <span>Please verify your account by clicking on the following link:</span>
      <span>{{verificationLink}}</span>
    </div>
  </body>
</html>